* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(218, 214, 214);
}

h2 {
  border: 5px solid rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
  margin: 0;
  padding: 20px;
  margin-bottom: 30px;
  margin: 10px 100px;
  border-radius: 50px;
}

h3 {
  color: red;
}

/*


MARGIN (marge extérieur à boîte (en dehors de la bordure)
haut : top
bas : bottom
gauche : left
droite : right

margin : 10px; => haut bas gauche droite
margin-left : 10px gauche

margin : 10px 30px 50px 100px;
        top right bottom left 

margin : 10px 100px;
        (top bottom) et (right left)



*/
